.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  background-color: #03be9f;
  color: #dafff7;
  padding: 0.5rem 0.5rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(0,0,0,0.2);
}


.btn:hover,
.btn:active {
  background-color: #463f3f;
  color: #02caba;
}